body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a, a:visited {
  text-decoration: none;
}

:root {
  --dark-bg-overlay: hsl(225,75%,15%,80%);
  --dark-bg-color: hsl(225,50%,20%, 100%);
}

/*  Helper Classes  */

.hide {
  display: none;
  transition: 1s;
}

.highlight {
  color: #A1C0E8 !important;
}

/*  Home Page  */

#home-page {
  height: 100%;
}

/*  Navbar  */

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--dark-bg-color);
  color: white;
  font-size: 1.1rem;
  padding: .5rem 0;
  transition: 0s;
  box-shadow: 0 5px 0 #3C312B;
  z-index: 1;
}

#nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 3;
}

#nav-links {
  display: flex;
  justify-content: space-evenly;
}
#nav-links a {
  font-family: 'Share Tech Mono', monospace;
  padding: 0 .5rem;
  color: white;
}

#nav-links a:hover {
  color: #A1C0E8;
}

#nav-logo {
  font-family: 'Share Tech Mono', monospace;
  padding-right: .5rem;
}

/*  Header  */

#header {
  background-image: url('overlook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

#header-layer {
  width: 100%;
  height: 100%;
  background-color: hsl(225,75%,15%,80%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#header-landing {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-info {
  border-radius: .1rem;
  padding: 1rem 2rem;
  color: #FFFFFF;
}

#header-title {
  font-family: 'Share Tech Mono', monospace;
  font-size: 22px;
  padding-top: .5rem;
}

#header-name {
  font-family: 'Share Tech Mono', monospace;
  font-size: 42px;
  font-weight: 800;
}

#header-social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}

#header-social a, #header-social a:visited {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 .3rem;
}

#header-social a:hover {
  color: #A1C0E8;
}

#header-nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Share Tech Mono', monospace;
  justify-content: space-evenly;
  width: 100%;
}

#header-nav a {
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 6px;
  border-bottom: 2px solid hsl(225,30%,85%,50%);
  margin-bottom: 12px;
  color: hsl(225,90%,90%,100%)
}


#header-nav a:hover {
  cursor: pointer;
  border-bottom: 2px solid hsl(0,0%,100%,100%);
}

/*  About  */

#about-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--dark-bg-color);
}

#about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 2%;

}
#about-pic {
  max-width:200px;
  max-height:300px;
  min-width:200px;
  min-height:300px;
  background-size: contain;
  background-repeat: no-repeat;
}

#about-bio {
  font-size: .9em;
  padding: 0 0 1.5rem 1.5rem;
  width: 70%;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

/*  Contact  */

td {
  padding: .25em 0;
}
input {
  font-size: 1.1em;
  border: .05em solid black;
  border-radius: .1em;
}
textarea {
  font-size: 1em;
  border: .05em solid black;
  border-radius: .1em;
  box-shadow: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: .2em;
}
form {
  width: 100%;
  display: flex;
}
table {
  width: 50%;
  margin: auto;
}
input[type="submit"] {
  background-color: #A1C0E8;
  color: #1A3B5A;
  font-size: 1.2rem;
  border-radius: .2rem;
  padding: .3rem .7rem;
  border: 1px solid #1A3B5A;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: #1A3B5A;
  color: white;
  border: 1px solid white;
}

input[type="email"] {
  width: 100%;
}
input[type="text"] {
  width: 100%;
}

input[type="submit"]:hover {
  cursor: pointer;
}

#contact-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #252A2D;
  padding-bottom: 2rem;
}

#email-form {
  margin-top: 2%;
}

.field-name {
  text-align: right;
  width: 15%;
  padding-right: 2%;
}

#footer {
  background-color: #D9DAD9;
  padding: .6rem;
  font-size: .8rem;
  display: flex;
  justify-content: flex-end;
}

/*  Projects  */

#projects-section {
  background-color: #D9DAD9;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2rem;
}

#projects-list {
  margin-top: 1%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  margin: .75rem 1.5rem .75rem 0;
  border-radius: .5rem;
  cursor: pointer;
  width: 12rem;
  height: 15rem;
  position: relative;
}

.project-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.project-header {
  width: 12rem;
  height: 3rem;
  color: #FFFFFD;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #252A2D;
}
.project-description {
  font-size: .8rem;
  color: white;
  padding: .5rem;
  font-weight: 400;
}
.project-name {
  font-size: .9rem;
  color: #FFFFFF;
  font-weight: 500;
}
.project-image {
  width: 12rem;
  height: 12rem;
  background-size: contain;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  position: absolute;
}
.project-options {
  display: flex;
  align-items: flex-end;
  text-align: center;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: #A1C0E8;
  border-bottom: none;
}
.project-options a {
  width: 50%;
  padding: .4rem 0;
  color: #1A3B5A;
  font-size: .9rem;
  font-weight: 500;
}

.project-options a:hover {
  color: white;
}

.project-url {
  border: none;
  margin: 0;
  padding: 0;
}

.project-info {
  height: 12em;
  width: 12em;
  position: absolute;
  background-color: #1A3B5A;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-bottom: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/*  Section Classes  */

.section-title {
  font-size: 1.5em;
  padding-top: 3%;
  padding-left: 5%;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: .1em;
  font-weight: bold;
  align-self: flex-start;
}

.section-description {
  margin: 3% auto 0 auto;
  padding: 0 5%;
  text-align: center;
  font-size: .9rem;
}

/*  Media Queries  */

@media only screen and (max-width: 420px) {
  table {
    width: 70%;
  }
  #nav-logo {
    display: none;
  }
  #nav-content {
    justify-content: center;
  }
  #about-pic {
    max-width:150px;
    max-height:200px;
    min-width:150px;
    min-height:200px;
  }
  #projects-list {
    justify-content: center;
  }
  #projects-list > .project {
    width: 9rem;
    height: 11rem;
    margin: .3rem .75rem .3rem 0;
  }
  .project > .project-header {
    width: 9rem;
    height: 2rem;
  }
  .project > .project-header > .project-name {
    font-size: .7rem;
  }
  .project > .project-image {
    width: 9rem;
    height: 9rem;
  }
  .project > .project-info {
    width: 9rem;
    height: 9rem;
  }
  .project-info > .project-wrapper > .project-description {
    font-size: .6rem;
  }
  .project-info > .project-wrapper > .project-options {
    font-size: .7rem;
  }
  .section-title {
    align-self: center;
  }
}
