:root {
  /* --green: #05FF09;
  --neon-green: #00F983;
  --dark-green: #00550F;
  --white: #F7F8F8;
  --off-white:  #E7EAF1;
  --bright-yellow: #FFFD00;
  --bright-yellow-shadow: #fffd00ba;
  --dark-yellow: #A8AE00;
  --light-teal: #60E8FC;
  --light-blue: lightblue;
  --soft-blue: #D6FEFF; */
  --black: black;
  /* --teal: #00F8FC;
  --bright-blue: #009FFE;
  --blue: #0098E2;
  --gray: #818A93;
  --orange: #EA851C;
  --light-orange: #F09238;
  --dark-orange: #AC6B2C;
  --white-shadow: hsl(0, 0%, 100%,40%); */
}

@font-face {
  font-family:"JD Nadia Regular";
  src:url("assets/jd_nadia.woff2") format("woff2"),
    url("assets/jd_nadia.woff") format("woff"),
    url('assets/jd_nadia.ttf') format('truetype');
  font-style:normal;
  font-weight:400;
}

body {
  background-color: var(--black);
  /* color: var(--white); */
  padding: 18px;
  font-family: "JD Nadia Regular";
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p, ul, li, a {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

ul, li {
  list-style: none;
}
/*

section {
  font-size: 26px;
  padding: 24px 0 10px 0;
}

.section-header, .section-footer {
  font-size: 30px;
  color: var(--green);
  padding: 12px 0 12px 0;
}

.item-title {
  font-size: 28px;
  padding: 2px 0 8px 0;
  color: var(--bright-yellow);
  word-spacing: 3px;
}

.item-sub-title {
  font-size: 26px;
  padding: 2px 0;
  color: var(--teal);
  word-spacing: 3px;
}

.item-text {
  word-spacing: 3px;
  letter-spacing: 1px;
  color: var(--white);
  width: 800px;
  white-space: normal;
  font-size: 26px;
}
.standalone-text {
  padding: 8px 0;
}

.expanding-item {
  width: 0%;
  padding: 12px 0;
  overflow: hidden;
  white-space: nowrap;
  animation: 500ms steps(100, end) typing;
  animation-fill-mode: forwards;
}

.emphasized-text {
  padding: 10px 0;
  color: var(--teal);
  word-spacing: 3px;
  width: 800px;
  white-space: normal;
}

.project-url {
  padding: 8px 0;
  color: var(--neon-green);
}

.parallel-list-container {
  display: flex;
}

.parallel-list-container ul {
  padding: 6px 6px 6px 0;
  margin-right: 26px;
  font-size: 28px;
}

.sub-list-title {
  color: var(--teal);
  letter-spacing: 1px;
  padding: 4px 0px;
}

.link {
  opacity: 0;
  animation: 0s appear;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  width: max-content;
}

.links-section {
  padding-top: 32px;
  color: var(--light-blue);
  display: flex;
  flex-direction: column;
}

.links-header {
  opacity: 0;
  animation: 0s appear;
  animation-fill-mode: forwards;
  font-size: 28px;
  padding: 6px 0 8px 0;
}

.link-command-key {
  font-size: 28px;
}

.link-command-rest {
  font-size: 26px;
  letter-spacing: 4px;
  padding-left: 1px;
}

.info-section {
  padding: 8px 0;
}

@media only screen and (max-width: 850px) {
  p, .emphasized-text, .item-text {
    width: 700px;
  }
}

@media only screen and (max-width: 750px) {
  p, .emphasized-text, .item-text {
    width: 600px;
  }
}

@media only screen and (max-width: 650px) {
  p, .emphasized-text, .item-text {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  p, .emphasized-text, .item-text {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  p, .emphasized-text, .item-text {
    width: 300px;
  }
}

@media only screen and (max-width: 375px) {
  p, .emphasized-text, .item-text {
    width: 225px;
  }
} */
