body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

a, a:visited {
  text-decoration: none;
}

#landing-icons a, #landing-icons a:visited {
  text-decoration: none;
  color: white;
  margin: 0 .5em;
}

#landing-icons {
  margin-top: 20vh;
}

#landing {
  background-image: url("cosmos.jpg");
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  text-align: center;
}

#landing-intro {
  padding-top: 20vh;
}
#name {
  padding-top: 35vh;
  font-size: 3.5em;
  font-weight: bold;
}

#name-subtitle {
  padding-top: 2vh;
  font-size: 2em;
}

#about-content {
  display: flex;
  flex-direction: row;
  padding: 3em;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 90%;
  flex-wrap: wrap;
}
#about-pic {
  max-width:250px;
  max-height:350px;
  min-height:350px;
  min-width:250px;
  background-size: contain;
  background-repeat: no-repeat;
}
#about-bio {
  font-size: 1.2em;
  padding: 0 0 1.5em 1.5em;
  width: 60%;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
#about-section {
  background-color: rgb(24, 0, 24);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

td {
  padding: .25em 0;
}
input {
  font-size: 1.1em;
  border: .05em solid black;
  border-radius: .1em;
}
textarea {
  font-size: 1em;
  border: .05em solid black;
  border-radius: .1em;
  box-shadow: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
form {
  width: 100%;
  display: flex;
}
table {
  width: 40%;
  margin: auto;
}
input[type="submit"] {
  background-color:rgb(43, 43, 43);
  color: white;
  font-size: 1.2em;
  border-radius: .2em;
  padding: .3em .7em;
}

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 60vh;
}

#email-form {
  margin-top: 2%;
}

#projects-section {
  background-color: #350035;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#projects-list {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100vw; */
}

.section {
  /* padding: 2em 2em 2em 2em; */
}
.section-title {
  font-size: 2.5em;
  height: 10%;
  margin-top: 4%;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: .1em;
  font-weight: bold;

}

.project {
  border: 1px solid rgb(53, 53, 53);
  margin: 1em;
  border-radius: 1em;
}
.project-header {
  width: 15em;
  height: 5em;
  background-color: rgb(54, 54, 54);
  color: white;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.project-description {
  font-size: .9em;
  font-style: italic;
  margin-top: .5em;
  text-align: center;
}
.project-github {
  margin-top: .5em;
}
.project-name {
  /* font-weight: 600; */
  font-size: 1.2em;
}
.project-image {
  width: 15em;
  height: 15em;
  background-size: contain;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.project-url {
  border: none;
  margin: 0;
  padding: 0;
}




